//VARIABLES
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 19%);

//MEDIA QUERIES
@mixin med {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
  color: $white;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow-y: hidden;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: -1;
  //   background: #000;
  //   opacity: 0.4;
  // }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.container {
  max-width: 111rem;
  // width: 90%;
  padding: 0 2.6rem;
  margin: 0 auto;

  @include med {
    padding: 0 13.1rem 0 6.4rem;
  }
}

// h4 {
//   text-transform: uppercase;
//   font-weight: 400;
//   letter-spacing: 2px;
//   line-height: 2.8rem;
// }

button {
  border: none;
  cursor: pointer;

  &:focus {
    outline: 2px dashed $white;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
