$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 19%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../assets/mobile/bg-image-daytime.jpg) no-repeat;
  background-size: cover;
  color: $white;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

main {
  max-width: 111rem;
  width: 90%;
  margin: 0 auto;
}
