.widgets {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // z-index: -1;
    background: #000;
    opacity: 0.4;
  }
}

// .widgets {
//   // height: 100%;
//   // position: relative;
//   // transition: transform 0.5s ease;
// }

.top-widgets {
  padding: 3.17rem 0 4rem;
  position: relative;
  height: 100%;
  transition: transform 0.5s ease;

  @include med {
    padding: 8rem 0 6.4rem;
  }

  .container {
    height: 100%;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.quote-wrapper {
  text-transform: initial;
  font-size: 1.2rem;
  line-height: 2.2rem;

  @include med {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  &__random {
    display: grid;
    grid-template-columns: 1fr 1.67rem;
    column-gap: 1.6rem;
    padding-bottom: 0.8rem;
  }
}

#refresh {
  height: 1.8rem;
  border: none;
  cursor: pointer;
  background: none;

  svg {
    fill: $white;
    outline: none;
    transition: transform 0.15s linear;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.author {
  font-weight: 700;
}

.currently {
  text-transform: uppercase;
  margin-bottom: 2rem;

  header {
    display: flex;
  }

  .icon {
    padding-right: 1.6rem;

    @include med {
      height: 2.4rem;
    }
  }

  &__greeting,
  span {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.3rem;

    @include med {
      font-size: 1.8rem;
      line-height: 2.8rem;
      letter-spacing: 0.36rem;
    }
  }

  span {
    display: none;

    @media screen and (min-width: 500px) {
      display: block;
    }
  }

  &__time {
    padding-bottom: 4rem;
  }

  .time {
    display: flex;
  }

  .time-now {
    font-size: 10rem;
    line-height: 10rem;
    letter-spacing: -2.5px;
    padding: 1.6rem 1.6rem 1.6rem 0;

    @include med {
      font-size: 17.5rem;
      line-height: 17.5rem;
      letter-spacing: -4.38px;
    }
  }

  .standard-time {
    align-self: center;
    font-size: 1.5rem;
    padding-top: 3.7rem;
    font-weight: 300;

    @include med {
      font-size: 3.2rem;
      line-height: 2.8rem;
      padding-top: 6rem;
    }

    .period {
      @include med {
        padding-bottom: 1.2rem;
      }
    }
  }

  &__location {
    font-size: 1.5rem;
    line-height: 2.8rem;
    letter-spacing: 3px;

    @include med {
      font-size: 1.8rem;
      letter-spacing: 3.6px;
    }
  }

  .expand {
    border-radius: 2.8rem;
    width: 11.5rem;
    height: 4rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    background: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 3.75px;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 0.5rem 0 1.5rem;

    @include med {
      width: 14.6rem;
      height: 5.6rem;
      font-size: 1.6rem;
      line-height: 2.8rem;
      letter-spacing: 0.5rem;
      padding: 0.8rem 0.9rem 0.8rem 2.1rem;
    }

    .arrow {
      width: 3.2rem;
      height: 3.2rem;
      transform: rotate(180deg);
      transition: transform 0.5s, filter 0.2s;

      &:hover {
        filter: brightness(330%);
      }

      @include med {
        width: 4rem;
        height: 4rem;
      }
    }

    .rotate {
      transform: rotate(0deg);
    }
  }
}

.details {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(40.7742px);
  padding: 4.8rem 0 3.2rem;
  color: $dark-gray;

  // @include med {
  //   padding: 11.9rem 16.6rem 11.9rem 6.4rem;
  // }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.6rem;

    // @include med {
    //   display: unset;
    // }
  }

  h4 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2.8rem;

    // @include med {
    //   font-size: 1.3rem;
    //   line-height: 2.8rem;
    //   letter-spacing: 2.6px;
    // }
  }

  h3 {
    // font-weight: 700;
    font-size: 2rem;
    line-height: 2.42rem;

    // @include med {
    //   font-size: 4rem;
    //   line-height: auto;
    // }
  }

  .container {
    // @include med {
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   grid-template-rows: repeat(2, 1fr);
    //   grid-template-areas: "region week-day" "day week-number";
    // }
  }
  &__region {
    grid-area: region;
  }
  &__day {
    grid-area: day;
  }
  &__week-day {
    grid-area: week-day;
  }
  &__week-number {
    grid-area: week-number;
  }
}

.transform {
  transform: translate3d(0, -25.6rem, 0);
}
