.quote-wrapper {
  // padding-top: 3.2rem;

  &__random {
    display: grid;
    grid-template-columns: 1fr 1.67rem;
    column-gap: 1.6rem;
    padding-bottom: 0.8rem;

    #refresh {
      height: 1.8rem;
      border: none;
      cursor: pointer;
      background: url(../assets/desktop/icon-refresh.svg) no-repeat;
    }
  }
  .author {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}

#quote {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.conditions {
  text-transform: uppercase;

  header {
    display: flex;
    gap: 1.6rem;
  }

  &__greeting {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.3rem;
  }

  &__time {
    display: flex;
  }
}

.standard-time {
  align-self: flex-end;
}

.time-now {
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: -2.5px;
}
