.day {
  background-image: url(../assets/mobile/bg-image-daytime.jpg);

  @include med {
    background-image: url(../assets/tablet/bg-image-daytime.jpg);
  }

  @include lg {
    background-image: url(../assets/desktop/bg-image-daytime.jpg);
  }
}

.night {
  background-image: url(../assets/mobile/bg-image-nighttime.jpg);

  @include med {
    background-image: url(../assets/tablet/bg-image-nighttime.jpg);
  }

  @include lg {
    background-image: url(../assets/desktop/bg-image-nighttime.jpg);
  }
}
